body {
    background-image: url("http://sensor.nevada.edu/NRDC/Images/Backgrounds/fletcher-spring.jpg");
    margin: 0;
    font-family: Arial;
}

footer {
    text-align: center;
}

.column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.containerTab {
    padding: 20px;
    color: white;
}

.row {
    max-height: 50px;
}

.row:after {
    content: "";
    display: table;
    clear:both;
}

/* Closable button inside the image */
.closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
}