body {
    background-color: black;
    background-image: url("http://sensor.nevada.edu/NRDC/Images/Backgrounds/fletcher-spring.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
}
