body {
    background-color: darkblue;
    background-image: url("http://sensor.nevada.edu/NRDC/Images/Backgrounds/fletcher-spring.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
}

.panel {
    border-color: #003366;
}

.panel-header {
    background-color: #003366;
}

.thumbnail {
    background-color: aliceblue;
}

.half-rule {
    margin-left: 0;
    text-align: left;
    width: 50%;
}

